.main_board{
    height: 100vh;
    background: url(../img/forest.jpeg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.rock{
    height: 300px;
    width: 300px;
    display: flexbox;
    background: url(../img/rock1.png) no-repeat;
    background-size: contain;
    line-height: 300px;
    cursor: pointer;
}

.rock span{
    margin: auto;
    font-size: large;
    font-family: 'HSYuji-Regular';
    font-size: 3rem;
    border: none;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
.rock button{
    border: 0;
    background: inherit;
}
#run_recording{
    margin: 27vh 0 0 110vh;
}
#run_rock{
    margin: -7vh 0 0 40vh;
}
.rock:last-child, .rock:hover {
    overflow: visible;
}

