.home {
    width: 100%;
    height: 944px;
    background-color: #F8DEFF;
}

.testImg {
    width: 50%;
    height: 600px;
    float:left;
    margin: 10% 100px;
    margin-right: 5%;
    border: palevioletred 2px solid;
}
