.home {
    width: 100%;
    height: 944px;
    background-color: #F8DEFF;
}

.testImg {
    width: 50%;
    height: 600px;
    float:left;
    margin: 10% 100px;
    margin-right: 5%;
    border: palevioletred 2px solid;
}

.rock{
    height: 300px;
    width: 300px;
    display: flexbox;
    background: url(../img/rock1.png) no-repeat;
    background-size: contain;
    line-height: 300px;
    cursor: pointer;
}

.rock span{
    margin: auto;
    font-size: large;
    font-family: 'HSYuji-Regular';
    font-size: 3rem;
}
#run_recording{
    margin: 27vh 0 0 110vh;
}
#run_rock{
    margin: -7vh 0 0 40vh;
}
.rock:last-child, .rock:hover {
    overflow: visible;
}

