@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Noto+Sans+KR:wght@400;500;700&family=Poor+Story&display=swap');
.logoImg {
    width:130px;
    height:70px;
    float:left;
    margin-top: -15px;
    
}
.li-a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}