.list_board{
    text-align: left;
    margin: 10px 5%;
    /* border: aliceblue 6px solid; */
}

.title {
    text-align: left;
    padding: 10px 10%;
}

.date {
    display: inline-flex;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    margin: auto 0 auto 6%;
}

.time {
    display: inline-flex;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    margin: auto 0 auto 40%;
}