.run {
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(../img/download_forest1.jpg.jpeg) no-repeat ;
    background-size: cover;
    overflow: auto;
}


.simpleNavi img{
    width: 156px;
    height: 80px;
    margin: 1% 0 0 0;
}

.face{
    width: 910px;
    /* height: 80vh; */
    height: 700px;
    /* padding: 1% 0; */
    padding: 0;
    margin: 0px auto;
    border-radius: 10px;
    background-color: #B4C6A6;

}

.question {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    border: none;
    background-color: #C54AC7;
    border-radius: 10px;
}

#run_question{
    width: 100%;
    padding: 0;
}

.question h2{
    height:inherit;
    width: fit-content;
    margin:auto;
    line-height: 80px;
    color: papayawhip;
    font-family: 'CookieRunOTF-Bold';
}

.question h1{
    height:inherit;
    width:fit-content;
    margin:0;
    padding-left: 10%;
    line-height: 80px;
    color: papayawhip;
    font-family: 'CookieRunOTF-Bold';
}

#FD {
    position: relative;
}
.animal {
    position: absolute;
}
#sloth {
    width: 25vw;
    height: 25vw;
}
#koala {
    width: 25vw;
    height: 25vw;
}
.facedetector{
    position: absolute;
    
}

.text{
    position: absolute;
    color: papayawhip;
    font-family: 'CookieRunOTF-Bold';
}

#sloth-text {
    font-size: 50px;
    white-space: pre;
}

#koala-text {
    font-size: 2.5vw;
    padding: 5px 15px;
    /* color: #C68B59; */
    color: #C9CCD5;
    border: #96C7C1 4px solid;
    border-radius: 10px;
}

.facedetector #webcam{
    /* float: center; */
    /* background-color:#999999; */
    transform: scaleX(-1);
    margin: -2px auto;
    width: 910px;
    height: 690px;
}

.stopButton {
    width: 910px;
    float: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    height: 60px;
    position: fixed;
    bottom: 3%;
}

.stopButton button{
    cursor: pointer;
    margin: 0 auto;
    background-color: #C54AC7;
    color: papayawhip;
    width: 120px;
    height: 60px;
    border: none;
    font-size: 2rem;
    border-radius: 5px;
    position: static;
}
