.navibar {
    width: 100%;
    height: 80px;
}

.logoImg {
    width:156px;
    height:80px;
    float:left;
    margin-right: 20%;
    
}
.logo{
    padding-left:10%;
}

ul li{
    list-style: none;
    float: left;
    border: none;
}

.menu button{
    border: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
}