.main_board{
    height: 100vh;
    background: url(../img/forest.jpeg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.rock{
    height: 300px;
    width: 300px;
    display: flexbox;
    background: url(../img/rock1.png) no-repeat;
    background-size: contain;
    line-height: 300px;
    cursor: pointer;
}

.rock span{
    margin: auto;
    font-size: large;
    font-family: 'HSYuji-Regular';
    font-size: 2.5rem;
}
#run_recording{
    margin: 13% 0 0 60%;
}
#run_rock{
    margin: -5% 0 0px 400px;
}
.rock:last-child, .rock:hover {
    overflow: visible;
}

